#content {
  margin: 10px;
  padding: 10px;
  background-color: #0caef8;
  border: outset 7px #c8c700;
  font-family: 'Futura', sans-serif;

}
.minor-section {
  background-color: #d6944c;
  padding: 15px;
  border: outset 5px #e22874;
}
